/**
* Hoja de estilos
**/

.contenedorExterno
{
	font-family: "Lucida Console", Monaco, monospace;
	font-style: normal;
	font-size: 1em;
}
.contenedor
{
/* *
 * tamaño(margenes,bordes y espaciado);
 * display: table;
 * fuente;
 * color de fondo;
 * estilo de borde
 * */
 
	display: table;
	max-width:31ch;/*Ancho establecido por ancho del numero 0*/
	min-width:27ch;
	padding: .5ex;/*Coge como referencia la altura de la x minuscula*/
	border: 1px;
	border-style: solid;
	border-color: black;
	margin: 1px;
	background-color: darkgray;
	
}
.filas{}
.celdas{}
.controles,  .ctrlDesp, .ctrlSelc
{
	text-align: center;

}



.ctrlSelc
{
	width: 25%;
}

.ctrDesp
{
	width:10%;
}
.hoy{}
.diaSemana{}
.numSemanas{}
.domingo, .diaFestivo{}
.numSemana{}
.diaEspecial, .diaNoLaborable{}
.diaNormal{}
.diaOtroMes{}
.vacio{}
